<h1>New Shelter</h1>
<br>
<%= form_tag "/shelters" do %>
  <p>Please enter the following information to submit a new shelter:</p>
  <br>
  <%= label_tag :name, value="Shelter Name (ex: Dumb Friends League):" %><br>
  <%= text_field_tag :name %><br><br>
  <%= label_tag :address, value="Street Address:" %><br>
  <%= text_field_tag :address %><br><br>
  <%= label_tag :city, value="City:" %><br>
  <%= text_field_tag :city %><br><br>
  <%= label_tag :state, value="State:" %><br>
  <%= text_field_tag :state %><br><br>
  <%= label_tag :zip, value="ZIP Code:" %><br>
  <%= text_field_tag :zip %><br><br>
  <%= submit_tag "Submit" %>
<% end %>
