<h1>New Pet</h1>

<%= form_tag "/pets" do %>
  <p>Please enter the following information to submit a new pet:</p><br>

  <%= label_tag :name, value="Pet Name:" %><br>
  <%= text_field_tag :name, value="Precious" %> <br><br>

  <%= label_tag :image, value="Pet Image:" %><br>
  <%= text_field_tag :image, value="Put direct picture URL here!" %><br><br>

  <%= label_tag :description, value="Pet Description:" %><br>
  <%= text_area_tag :description, value="Describe the animal here!", rows: 2, cols: 30 %><br><br>

  <%= label_tag :age, value="Pet Age:" %><br>
  <%= number_field_tag :age, value=0 %><br><br>

  <%= label_tag :sex, value="Pet Sex:" %><br>
  <%= radio_button_tag( :sex, "Male") %>
  <%= label_tag( :sex_male, "Male") %><br>
  <%= radio_button_tag( :sex, "Female") %>
  <%= label_tag( :sex_female, "Female") %><br><br>

  <%= label_tag :adoptability, "Pet Adoption Status:" %><br>
  <%= radio_button_tag :adoptability, :unadopted %>
  <%= label_tag :adoptability_unadopted, "Needs a home" %><br>
  <%= radio_button_tag :adoptability, :adopted %>
  <%= label_tag :adoptability_adopted, "Adopted" %><br><br>

  <%= label_tag :shelter_id, "Shelter ID:" %> <br>
  <%= number_field_tag :shelter_id, "1" %> <br><br>

  <%= submit_tag "Submit" %>
<% end %>
